
.modal-wrap .modal-mask{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.modal-wrap .modal {
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  background-color: #fff;
  z-index: 10000;
}
.modal-wrap .modal .modal-header {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.modal-wrap .modal .modal-header span{
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}
.modal-wrap .modal .modal-header h3 {
  margin: 0;
}
.modal-wrap .modal .modal-content {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
}
.modal-wrap .modal .modal-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}